.phraseContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.storedPhrase {
    display: flex;
    flex-direction: row;
    width: 88%;
    margin: auto;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    color: #22596e;
}

.editPhrase {
    width: 90%;
    display: flex;
    margin: auto;
}

.phraseItem {
        display: inline-block;
}

.phraseWord {
    cursor: pointer;
}