.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 30%;
  border-radius: 10px;
  margin: 50px auto auto;
  padding: 14px
}

.phrase {
  flex-direction: row;
}

.word {
  display: inline-block;
  font-size: 24px;
  color: lightslategray;
  padding: 4px 8px 4px 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.description {
  border-top: 1px solid grey;
  padding-top: 10px;
  margin-top: 30px;
}

.typePanel {
  padding-top: 10px;
  position: relative;
  display: block;
}

.answerType {
  position: absolute;
  left: 0;
}
.typeSwitcher {
  position: absolute;
  right: 0;
}

.ansTranslation {
  min-height: 30px;
  font-size: 20px;
  font-weight: 550;
  padding-top: 4px;
  padding-bottom: 4px;
}

.ansExplanation {
  min-height: 30px;
  font-size: 16px;
  font-style: oblique;
  padding-top: 4px;
  padding-bottom: 4px;
}

.phraseTranslation {
  font-size: 14px;
  font-style: oblique;
  padding-top: 4px;
  padding-bottom: 4px;
}