.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 30%;
  border-radius: 10px;
  margin: 50px auto auto;
  padding: 14px
}

.phrase {
  flex-direction: row;
}

.word {
  display: inline-block;
  font-size: 24px;
  color: sienna;
  padding: 4px 8px 4px 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.explanation {

}