.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 30%;
  border-radius: 10px;
  margin: 50px auto auto;
}

.phrase {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.word {
  padding: 4px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.explanation {

}

.typeSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.typeSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.typeSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.typeSlider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .typeSlider {
  background-color: #2196F3;
}

input:focus + .typeSlider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .typeSlider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.typeSlider.round {
  border-radius: 34px;
}

.typeSlider.round:before {
  border-radius: 50%;
}