.input {
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    background-color: azure;
    border: 0;
    outline: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: lightslategray;
}

input:focus {
    outline:none!important;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:    indianred;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    indianred;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    indianred;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    indianred;
}